# Site data
title: Sometimes I Code
subtitle: Matheus Amazonas' blog
description: Sometimes I play, sometimes I surf, sometimes I even code.
url: "https://blog.matheusamazonas.net"
author:
  name: Matheus Amazonas
  email: "matheus.amazonas@gmail.com"

# Pages data (navigation)
navigation:
- text: Home
  url: /
- text: Archive
  url: /archive/
- text: About
  url: https://matheusamazonas.net
- text: Portfolio
  url: https://matheusamazonas.net/portfolio

# Build settings
remote_theme: jekyll/minima@fdc3aba23a1d59ad1d1f65f505693848c4b82fdf
plugins:
  - jekyll-remote-theme
  - jekyll-feed
  - jekyll-target-blank

enableComments: true

# Markdown settings
markdown: kramdown
highlighter: rouge

kramdown:
  input:          GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: 'highlight'
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

# Theme settings
minima:
  skin: dark
  social_links:
    github: matheusamazonas
    linkedin: matheusamazonas
    youtube_channel: UCiCD4qB_TAvFBYOWPmHCfPg
    youtube_channel_name: Matheus Amazonas

# Permalink settings
collections:
  articles:
    output: true
    relative_directory: /posts
    permalink: /posts/:title

#Staticman
staticman_url: https://matheus-blog-comments.fly.dev/v2/entry/matheusamazonas/blog/master/comments