title: Sometimes I Code
email: your-email@example.com
description: Sometimes I play, sometimes I surf, sometimes I even code.
baseurl: "/blog"
url: "https://matheusamazonas.net"
github_username:  matheusamazonas

# Site data
post_images: /blog/assets/images
navigation:
- text: Home
  url: /
- text: Archive
  url: /archive/
- text: About
  url: https://matheusamazonas.net
- text: Portfolio
  url: https://matheusamazonas.net/portfolio

# Posts
post1: /blog/2014/02/19/how-does-unity-export-to-so-many-platforms
post2: /blog/2014/12/22/how-does-unity-work-under-the-hood
post3: /blog/2015/04/11/unity-serialization-part-1-how-it-works-and-examples
post4: /blog/2015/10/22/unity-serialization-part-2-defining-a-serializable-type
post5: /blog/2015/10/22/unity-serialization-part-3-scriptable-objects
post6: /blog/2016/07/09/android-6-marshmallow-permissions-and-unity
post7: /blog/2017/10/26/fp-currying-vs-partial-application
post8: /blog/2019/07/29/postmorten-developing-an-educational-kiosk-vr-game-for-windows-mixed-reality
post9: /blog/2019/09/08/cs-finalizer-destructor-trap
post10: /blog/2020/04/01/unitys-scripting-duality

# Build settings
remote_theme: jekyll/minima
plugins:
  - jekyll-remote-theme
  - jekyll-feed

minima:
  skin: dark

markdown: kramdown
highlighter: rouge

kramdown:
  input:          GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: 'highlight'
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

collections:
  posts:
    output: true
    permalink: /:year/:month/:day/:title/