# Site data
title: Sometimes I Code
subtitle: Lazy Squirrel Labs' blog
description: Sometimes I play, sometimes I surf, sometimes I even code.
url: "https://blog.lslabs.dev"
author:
  name: Lazy Squirrel Labs
  email: "contact@lslabs.dev"

# Include
include:
  - _redirects

# Pages data (navigation)
navigation:
- text: Home
  url: /
- text: Archive
  url: /archive/
- text: About
  url: https://lslabs.dev

# Build settings
remote_theme: jekyll/minima@fdc3aba23a1d59ad1d1f65f505693848c4b82fdf
plugins:
  - jekyll-remote-theme
  - jekyll-feed
  - jekyll-target-blank

enableComments: true

# Markdown settings
markdown: kramdown
highlighter: rouge

kramdown:
  input:          GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: 'highlight'
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

# Theme settings
minima:
  skin: dark
  social_links:
    github: lazysquirrellabs
    linkedin: matheusamazonas
    instagram: lazysquirrellabs

# Permalink settings
collections:
  articles:
    output: true
    relative_directory: /posts
    permalink: /posts/:title

feed:
  collections:
    - articles

#Staticman
staticman_url: https://matheus-blog-comments.fly.dev/v2/entry/matheusamazonas/blog/master/comments