# Site data
title: Sometimes I Code
subtitle: Matheus Amazonas' blog
description: Sometimes I play, sometimes I surf, sometimes I even code.
baseurl: "/blog"
url: "https://matheusamazonas.net"
author:
  name: Matheus Amazonas
  email: "matheus.amazonas@gmail.com"

# Pages data (navigation)
navigation:
- text: Home
  url: /
- text: Archive
  url: /archive/
- text: About
  url: https://matheusamazonas.net
- text: Portfolio
  url: https://matheusamazonas.net/portfolio

# Posts
post_images: /blog/assets/images
post1: /blog/2014/02/19/how-does-unity-export-to-so-many-platforms
post2: /blog/2014/12/22/how-does-unity-work-under-the-hood
post3: /blog/2015/04/11/unity-serialization-part-1-how-it-works-and-examples
post4: /blog/2015/10/22/unity-serialization-part-2-defining-a-serializable-type
post5: /blog/2015/10/22/unity-serialization-part-3-scriptable-objects
post6: /blog/2016/07/09/android-6-marshmallow-permissions-and-unity
post7: /blog/2017/10/26/fp-currying-vs-partial-application
post8: /blog/2019/07/29/postmorten-developing-an-educational-kiosk-vr-game-for-windows-mixed-reality
post9: /blog/2019/09/08/cs-finalizer-destructor-trap
post10: /blog/2020/04/01/unitys-scripting-duality
post11: /blog/2020/04/01/null-check-and-equality-in-unity
post12: /blog/2021/04/14/when-software-internationalization-isnt-just-about-ui-a-tale-of-how-a-parsing-error-crashed-our-game
post13: /blog/2021/08/05/how-windows-mixed-realitys-poor-reliability-forced-a-kiosk-game-switch-to-htc-vive
post14: /blog/2022/09/10/finally-a-proper-gdd

# Build settings
remote_theme: jekyll/minima
plugins:
  - jekyll-remote-theme
  - jekyll-feed

enableComments: true

# Markdown settings
markdown: kramdown
highlighter: rouge

kramdown:
  input:          GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: 'highlight'
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

# Theme settings
minima:
  skin: dark
  social_links:
    github: matheusamazonas
    linkedin: matheusamazonas
    youtube_channel: UCiCD4qB_TAvFBYOWPmHCfPg
    youtube_channel_name: Matheus Amazonas

# Permalink settings
collections:
  posts:
    output: true
    permalink: /:year/:month/:day/:title/

#Staticman
staticman_url: https://matheus-blog-comments.fly.dev/v2/entry/matheusamazonas/blog/master/comments