<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/images/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="LSL Blog" />
  <link rel="manifest" href="/images/favicon/site.webmanifest" />
  <link type="application/atom+xml" rel="alternate" href="https://blog.lslabs.dev/feed/articles.xml" title="Sometimes I Code" />
  {%- include custom-head.html -%}
</head>